{% extends 'base.html' %}

{% block content %}

    <!-- Start About Page  -->
    <div class="about-box-main">
        <div class="container">
            <div class="row">
				<div class="col-lg-6">
                    <div class="banner-frame"> <img class="img-fluid" src='images/feuilles-bourgeons-the-vert-plantations-the-vert-matin_335224-955.webp' alt="" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <h2 class="noo-sh-title-top"><span>KAKOADYAR</span></h2>
                    <p>
                        L'objectif de KAKOADYAR est de faciliter l’accès au marché de vente en ligne des produits agricoles.
                        Vous etes agriculteur ou Vendeur grossiste? Vous désirez VENDRE et/ou ACHETER vos PRODUITS AGRICOLES(Mais,Mil local,Niébé,Sorgho,Arachides Acque
                        Arachides graine,tomates,oignons,Choux,Concombre,ect.) au BURKINA FASO et partout en Afrique.Rejoignez nous vite KAKOADYAR à la solution.
                    </p>
                    <p></p>
					<a class="btn hvr-hover" href="#">LIRE PLUS</a>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-12">
                    <h2 class="noo-sh-title">Notre équipe</h2>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src='images/img-1.jpg' alt="" />
                            <div class="team-content">
                                <h3 class="title">Alice TAPSOBA</h3> <span class="post">chef de projet</span> </div>
                                <ul class="social">
                                    <li>
                                        <a href="#" class="fab fa-facebook"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fab fa-twitter"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fab fa-google-plus"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fab fa-youtube"></a>
                                    </li>
                                </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <hr class="my-0"> </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src='images/img-3.jpg' alt="" />
                            <div class="team-content">
                                <h3 class="title">Brigitte DAMBRE</h3> <span class="post">Associer</span> </div>
                                <ul class="social">
                                    <li>
                                        <a href="#" class="fab fa-facebook"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fab fa-twitter"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fab fa-google-plus"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fab fa-youtube"></a>
                                    </li>
                                </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <hr class="my-0"> </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="hover-team">
                        <div class="our-team"> <img src= 'images/img-1.jpg' alt="" />
                            <div class="team-content">
                                <h3 class="title">Laurent NIKIEMA</h3> <span class="post">Associer</span> </div>
                                <ul class="social">
                                    <li>
                                        <a href="#" class="fab fa-facebook"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fab fa-twitter"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fab fa-google-plus"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="fab fa-youtube"></a>
                                    </li>
                                </ul>
                            <div class="icon"> <i class="fa fa-plus" aria-hidden="true"></i> </div>
                        </div>
                        <hr class="my-0"> </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Page -->
{% endblock  %}