{% extends 'base.html' %}

    <div class="row">
        <div class="col-md-12">
            <ul class="list-group" id="item-list">
                <h3 class="text-center p-4">Votre liste de commande</h3>
            </ul>
        </div>
    </div>

        <h2>{{ order.product.nom }}</h2>
        <img src="{{order.product.image}}" class="p-5 img-fluid" width="500px" height="500px" alt="{{product.nom}}">
        <p> le nombre : {{order.quantite}}</p>

    <div class="row">
        <div class="col-md-12">
            <form method="post">
                {% csrf_token %}
                <input type="hidden" id="items" name="items">
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="inputEmail4">Nom</label>
                    <input name="nom" id="nom" type="text" class="form-control" id="inputEmail4" placeholder="kakaodyar">
                  </div>
                  <div class="form-group col-md-12">
                    <label for="inputPassword4">Email</label>
                    <input name="email" id="email" type="email" class="form-control" id="inputPassword4" placeholder="kakaodyar@gmail.com">
                  </div>
                </div>
                <div class="form-group">
                  <label for="inputAddress">Address</label>
                  <input name="address" id="address" type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
                </div>
    
                <div class="form-row">
                  <div class="form-group col-md-12">
                    <label for="inputCity">Ville</label>
                    <input name="ville" id="ville" type="text" class="form-control" id="inputCity">
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputState">Pays</label>
                    <select  name="pays" id="pays" class="form-control">
                      <option selected>BURKINA FASO</option>
                      <option>Bénin</option>
                      <option>Côte d'Ivoire</option>
                      <option>Ghana</option>
                      <option>Mali</option>
                      <option>Niger</option>
                      <option>Sénégal</option>
                      <option>Togo</option>
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="inputZip">Zip</label>
                    <input name="zipcode" id="zipcode" type="text" class="form-control" id="inputZip">
                  </div>
                  <div class="form-group col-md-2">
                    <label for="inputZip">Somme total à payer</label>
                    <input name="total" id="total" type="readonly" class="bg-dark text-warning form-control">
                  </div>
                </div>
                <div class="form-group">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                      Check me out
                    </label>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Commander</button>
              </form>
        </div>
    </div>

