{% extends 'base.html' %}

{% block content %}

    <div class="row p-5">
        <div class="col-md-4 p-4">
            <h2 class="text-dark bg-warning text-center" >Salut M/Mme {{name}} </h2>
            <h4 class=" text-dark p-5"><br> Merci de nous faire confiance M/Mme {{name}}.Nous avons reçu votre commande et vous serez livrer dans un delai de 7 jours</h4>
        </div>
        
        <div class="col-lg-6 col-md-12 col-sm-12">
            <img src="https://cdn.pixabay.com/photo/2012/05/07/02/13/accept-47587_960_720.png" class="rounded float-right" style="width: 300px; height: 300px;" alt="...">
        </div>
    </div>

{% endblock  %}