{% extends 'base.html' %}

{% block content %}

    <section class="main-page py-5">
        <div class="container">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-6">
                    <div>
                        <img src="{{product.image}}" class="p-5 img-fluid" width="500px" height="500px" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                        <div class="text-warning display-3 p-3">
                            {{product.nom}}
                        </div>
                        <div class="text-danger p-3">
                            Prix: {{product.prix}} FCFA
                        </div>
                        <div class="p-3">
                            {{product.description}}
                        </div>
                    {% if user.is_authenticated %}
                        <a href="{% url 'add-to-cart' product.slug %}"><button class="btn btn-success">Ajouter</button></a>
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
{% endblock  %}
