{% extends 'base.html' %}

{% block content %}

    <!-- Start Slider -->
    <div id="slides-shop" class="cover-slides">
        <ul class="slides-container">
            <li class="text-center">
                <img src='images/sorgho.jpg' alt="">
                <div class="container">
                    <div class="row justify-content-center align-item-center">
                        
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Bienvenue à <br>KAKOADYAR</strong></h1>
                            <p class="m-b-40">Votre Site de vente et d'achat en ligne.</p>
                        </div> 
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src='images/imagetomate.jpg' alt="">
                <div class="container">
                    <div class="row justify-content-center align-item-center">
                       
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Bienvenue à <br> KAKOADYAR</strong></h1>
                            <p class="m-b-40">Votre Site de vente et d'achat en ligne.</p>
                        </div>
                    </div>
                </div>
            </li>
            <li class="text-center">
                <img src='images/imagecoton.jpg' alt="">
                <div class="container">
                    <div class="row justify-content-center align-item-center">
                        <div class="col-md-12">
                            <h1 class="m-b-20"><strong>Bienvenue à <br> KAKOADYAR</strong></h1>
                            <p class="m-b-40">Votre Site de vente et d'achat en ligne.</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <!-- End Slider -->

    <!-- Start Categories  -->
    <!-- <div class="container">
        <h1><u><b> Nos produit disponible</b></u></h1>
        <div class="images">
            <!-- a image starts 
                {% for product in products %}
                    <div class="image">
                        <a href="#">
                        <div class="thumbnail">
                            <img class="img-fluid" src="{{product.image.url}}" alt="" />
                        </div>
            
                        <div class="details">
                        <div class="title">
                            <h3>
                                <p class="btn hvr-hover">{{product.Nom_produit}}<p></p>
                            </h3>
                        </div>
                        </div>
                        </a>
            
                    </div>
                {% endfor %}
            <!-- a image Ends 
        </div>
    </div> -->

    
    {% endblock  %}
